[[plugins]]
package = "@netlify/plugin-nextjs"

[functions]
directory = ".netlify/functions"

[build]
clear_cache = true
command = "npm run build"

[images]
  remote_images = ["https://admin.gamesetblog.com/.*"]