#hero-section-container-post {
  background-color: var(--light-green);
}

#post-title, #categories-title-home, #tags-title-home {
  border-bottom: solid white 0.25rem;
}

#post-hero-image-wrapper {
  width: 100%;
  box-sizing: border-box;
}

#post-hero-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-excerpt {
  margin-bottom: 1rem;
}

.post-excerpt, .post-date {
  width: 100%;

  font-family: Oswald;
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  font-weight: 400;
}

#body-section-container-post {
  background-color: var(--black);
}

#body-content-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  gap: 2rem;
}

.post-body-container {
  grid-column: 1 / span 2;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  overflow-wrap: break-word;
  word-wrap: break-word;

  font-family: Oswald;
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  font-weight: 400;
}

.post-body-container > * {
  max-width: 100%;
  box-sizing: border-box;
}

.post-body-container * {
  max-width: 100%;
  box-sizing: border-box;

  margin-bottom: 1rem;

  font-family: Oswald;
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  font-weight: 400;
}

.post-body-container h2 {
  font-size: var(--fs-heading);
  line-height: var(--lh-heading);
  font-weight: 700;
}

.post-body-container img {
  object-fit: contain;
  padding-block: 1.5rem;
}

.post-body-container img,
.post-body-container iframe,
.post-body-container video,
.post-body-container embed,
.post-body-container object {
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 1024px) {
  #body-content-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}