#hero-section-container-post {
  background-color: var(--light-green);
}

#post-title, #categories-title-home, #tags-title-home {
  border-bottom: solid white 0.25rem;
}

#post-hero-image-wrapper {
  width: calc(100% - 0.5rem);
  height: auto;
  max-height: 500px;
  aspect-ratio: 4 / 3;
  object-fit: cover;

  margin-bottom: 2rem;
}

#post-hero-image-wrapper::after {
  background-color: var(--dark-green);
}

#post-hero-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: solid black 0.25rem;
  transition: transform 0.25s ease;
}

#post-hero-image-wrapper:hover img {
  transform: translate(0.1875rem, -0.1875rem);
}

.post-hero-text {
  width: 100%;

  font-family: Oswald;
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  font-weight: 400;
}

.post-excerpt {
  margin-bottom: 1rem;
}

#body-section-container-post {
  background-color: var(--black);
}

#body-content-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  gap: 2rem 4rem;
}

.article-container {
  width: 100%;
  grid-column: 1 / span 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-categories-tags-container {
  grid-column: 1 / span 1;
}

.article-container > * {
  max-width: 100%;
  box-sizing: border-box;
}

.article-content-container {
  width: calc(100% - 0.5rem);
  box-sizing: border-box;

  display: grid;
  justify-items: center;

  font-family: Oswald;
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  font-weight: 400;
  color: white;
}

.article-content-container > * {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

.article-content-container a {
  color: var(--orange);
}

.article-content-container h2 {
  font-size: var(--fs-heading);
  line-height: var(--lh-heading);
  font-weight: 700;
}

.wp-block-quote, .article-content-container blockquote {
  width: 80%;
}

.wp-block-quote, .wp-block-quote p, .article-content-container blockquote > * {
  font-weight: 200;
}

.article-content-container img,
.article-content-container iframe,
.article-content-container video,
.article-content-container embed,
.article-content-container object {
  max-width: 100%;
  height: auto;
}

.wp-block-cover, .wp-block-video, .wp-block-heading:has(img), p:has(.instagram-iframe), p:has(.youtube-iframe), .article-container p:has(img), .article-container p:has(iframe) {
  width: 75%;
  margin: 0.5rem 0 1.5rem 0;

  line-height: 0;

  position: relative;
  z-index: 1;

  transition: transform 0.25s ease;
}

.wp-block-cover > :not(img):not(video):not(iframe) {
  display: none;
}

.wp-block-cover::after, .wp-block-video::after, .wp-block-heading:has(img)::after, p:has(.instagram-iframe)::after, p:has(.youtube-iframe)::after, .article-container p:has(img)::after, .article-container p:has(iframe)::after  {
  content: '';
  position: absolute;
  inset: 0;

  background-color: var(--neon-yellow);

  transform: translate(-0.25rem, 0.25rem);
  /* transition: transform 0.25s ease; */

  z-index: -1;
}

.wp-block-cover:hover > *, .wp-block-video:hover > *, .wp-block-heading:has(img):hover > *, p:has(.instagram-iframe):hover > *, p:has(.youtube-iframe):hover > *, .article-container p:has(img):hover > *, .article-container p:has(iframe):hover > *  {
  transform: translate(0.1875rem, -0.1875rem);
}

.wp-block-cover:hover::after, .wp-block-video:hover::after, .wp-block-heading:has(img):hover::after, p:has(.instagram-iframe):hover::after, p:has(.youtube-iframe):hover::after, .article-container p:has(img):hover::after, .article-container p:has(iframe):hover::after  {
  transform: translate(-0.375rem, 0.375rem);
}

.article-content-container img, .article-content-container video, .article-content-container iframe, .instagram-iframe, .youtube-iframe {
  object-fit: cover;
  border: solid white 0.25rem;
  margin-bottom: 0;
  width: 100%;

  transition: transform 0.25s ease;
}

.article-content-container p:has(iframe) iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  border: solid white 0.25rem;
}

.instagram-iframe {
  aspect-ratio: 4 / 5;
}

.article-content-container iframe, .youtube-iframe {
  aspect-ratio: 16 / 9;
}

@media only screen and (min-width: 1024px) {
  #body-content-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .article-container {
    grid-column: 1 / span 2;
  }

  .post-categories-tags-container {
    grid-column: 3 / span 1;
  }
}