:root {
  --light-green: #66905c;
  --dark-green: #415e4d;
  --grey-green: #4d5e52;
  --cream: #fff8dc;
  --black: #000000;
  --neon-yellow: #d7f704;

  /* --fs-title: clamp(1.75rem, 1rem + 2vw, 2rem);
  --fs-heading: clamp(1.25rem, 0.9rem + 1.25vw, 1.5rem);
  --fs-body: clamp(1rem, 0.9rem + 0.75vw, 1.125rem);
  --fs-label: clamp(0.75rem, 0.75rem + 0.4vw, 0.875rem); */

  --fs-title: clamp(2rem, 1rem + 2vw, 2.25rem);
  --fs-heading: clamp(1.5rem, 0.9rem + 1.25vw, 1.75rem);
  --fs-body: clamp(1.25rem, 0.9rem + 0.75vw, 1.5rem);
  --fs-label: clamp(1rem, 0.75rem + 0.4vw, 1.25rem);

  --lh-title: 1.15;
  --lh-heading: 1.25;
  --lh-body: 1.5;
  --lh-label: 1.35;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: Osawld;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  text-decoration-line: none;
}

.page-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.section-container {
  width: 100%;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

.content-container {
  width: min(90%, 1200px);
  /* padding: 2rem; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  min-height: calc(75px - 2rem);
  padding: 1rem 0.5rem;
  margin-bottom: 2rem;

  font-family: Oswald;
  font-size: var(--fs-title);
  line-height: var(--lh-title);
  font-weight: 700;
}

.body-text {
  font-family: Oswald;
}

.post-card-content-container {

}

@media only screen and (min-width: 1024px) {

  .section-container {
    padding: 4rem 2rem;
  }

  .section-title {
    min-height: calc(80px - 2rem);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
