/* NEW */

#split-section-container {
  flex-direction: row;
  background-color: black;
}

#split-content-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  gap: 2rem;
}

.latest-posts-container {
  grid-column: 1 / span 2;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#latest-posts-title {
  border-bottom: solid white 0.25rem;
}

@media only screen and (min-width: 375px) {

}

@media only screen and (min-width: 481px) {

}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {

  #split-content-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1600px) {

}

.home-loader-container {

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #f39c12;
  z-index: 99;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('./_assets/Icons-Background-White-Transparent-1000X875.png'), linear-gradient(rgba(243, 156, 18, 1), rgba(243, 156, 18, 1));

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;

}