/* NEW */

.home-section {
  width: 100%;
  padding-block: 2rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.split-section-container {
  background-color: var(--dark-green);
  background-color: black;
}

.home-section-content-container {
  width: min(90%, 1200px);

  /* Gap Between Section Title and the Card Section */
  column-gap: 2rem;
}

.split-section-content-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.latest-posts-container {
  grid-column: 1 / span 2;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width: 100%;
  height: 75px;
  padding: 0 0.5rem;
  margin-bottom: 2rem;

  /* Flexbox -- to middle-align text within container */
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: Oswald;
  font-size: var(--fs-title);
  line-height: var(--lh-title);
  font-weight: 700;
}

.latest-posts-title, .home-categories-title, .home-tags-title {
  border-bottom: solid white 0.25rem;
}





@media only screen and (min-width: 375px) {

}

@media only screen and (min-width: 481px) {

}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {

  .home-section {
    padding-block: 4rem;
  }

  .split-section-content-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section-title {
    height: 80px;
  }
}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1600px) {

}

.home-loader-container {

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #f39c12;
  z-index: 99;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('./_assets/Icons-Background-White-Transparent-1000X875.png'), linear-gradient(rgba(243, 156, 18, 1), rgba(243, 156, 18, 1));

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;

}