.layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* background-image: url('_assets/Icons-Background-White-Transparent-1000X875.png'); */
  background-color: var(--dark-green);
  background-size: contain;
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;

  min-height: 100vh;
}

.main-container {
    width: 100%;

    background: var(--cream);

    position: relative;
    top: 75px;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.animationContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}



  @media only screen and (min-width: 375px) {

  }
  
  @media only screen and (min-width: 481px) {
  
  }
  
  @media only screen and (min-width: 768px) {
  
  }
  
  @media only screen and (min-width: 1024px) {
    .main-container {
      top: 80px;
    }
  }
  
  @media only screen and (min-width: 1200px) {
  
  }
  
  @media only screen and (min-width: 1600px) {
  
  }