#page-container-page-not-found { 
  background-color: var(--black);
}


.content-container-page-not-found {
  background-color: var(--black);
}

.title-page-not-found {
  color: white;
  border-bottom: solid white 0.25rem;
}

@media only screen and (min-width: 1024px) {

}




