.home-tags-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  grid-row: 3 / span 1;
}

.home-tag-cards-container {
  width: calc(100% - 0.5rem);
  padding: 0 0.25rem;

  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.home-tag-card {
  width: 100%;

  position: relative;
  z-index: 1;
}

.home-tag-card:last-of-type {
  margin-bottom: 2rem;
}

.home-tag-card-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;

  width: 100%;
  min-height: 6rem;
  padding: 1rem;
  box-sizing: border-box;

  background-color: black;
  border: solid white 0.25rem;

  font-family: Oswald;
  color: white;
}

.home-tag-card::after {
  content: '';
  position: absolute;
  inset: 0;

  background-color: var(--neon-yellow);

  transform: translate(-0.25rem, 0.25rem);
  transition: transform 0.25s ease;

  z-index: -1;
}

.home-tag-card:hover::after {
  transform: translate(-0.375rem, 0.375rem);
}

.tag-name {
  width: 80%;
  font-size: var(--fs-heading);
  line-height: var(--lh-heading);
  font-weight: 500;
}

.tag-count {
  width: 20%;
  padding: 0.25rem 0.5rem;

  background: var(--neon-yellow);
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  color: black;
  font-size: var(--fs-label);
  font-size: var(--fs-label);
  font-weight: 700;
}