.tennis-ball-logo {
  z-index: 2;
  position: relative;
  display: inline-block;

  width: 10rem;
  height: 10rem;
  overflow: hidden;

  background: var(--neon-yellow);
  animation: bounce 1.5s infinite;
}

.tennis-ball-logo::before, .tennis-ball-logo::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;

  background: transparent;
  filter: blur(0.1rem)
}

.tennis-ball-logo, .tennis-ball-logo::before, .tennis-ball-logo::after {
  border: 0.5rem solid white;
  border-radius: 50%;
}

.tennis-ball-logo::before {
  left: -65%;
}

.tennis-ball-logo::after {
  right: -65%;
}

@keyframes bounce {
  0% {
    transform: translateY(min(5vh, 100px)) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(180deg);
  }
  100% {
    transform: translateY(min(5vh, 100px)) rotate(360deg);
  }
}