.posts-by-tag-container { 
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-posts-by-tag {
  width: 100%;
  background-color: var(--black);
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}


.content-container-posts-by-tag {
  width: min(90%, 1200px);
  background-color: var(--black);
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

.title-posts-by-tag {
  /* Flexbox -- to middle-align text within container */
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 75px;
  padding: 0 0.5rem;
  margin-bottom: 2rem;

  font-family: Oswald;
  font-size: var(--fs-title);
  line-height: var(--lh-title);
  font-weight: 700;

  border-bottom: solid white 0.25rem;
}

@media only screen and (min-width: 1024px) {

  .section-posts-by-tag {
    padding: 4rem 2rem;
  }

  .title-posts-by-tag {
    height: 80px;
  }
}




