.featured-section-container {
  background-color: var(--cream);
}

.featured-section-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-posts-text {
  font-family: Oswald;
  color: black;
}

.featured-posts-title {
  border-bottom: solid black 0.25rem;
}

.featured-post-cards-container {
  width: calc(100% - 1rem);
  padding: 0 0.5rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 2rem;
}

.featured-post-card {
  width: min(100%, 400px);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: subgrid;
  grid-row: span 4;
  justify-self: center;

  position: relative;
}

.featured-post-card-image-wrapper {
  width: 100%; 
  height: auto;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;

  grid-row: 1;
  
  position: relative;
}

.featured-post-card-image-wrapper::after {
  content: '';
  position: absolute;
  inset: 0;

  background-color: var(--dark-green);
  border: solid var(--dark-green) 0.25rem;

  transform: translate(-0.25rem, 0.25rem);
  transition: transform 0.25s ease;

  z-index: 1;
}

.featured-post-card:hover .featured-post-card-image-wrapper::after {
  transform: translate(-0.375rem, 0.375rem);
}

.featured-post-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: solid black 0.25rem;

  box-sizing: border-box;

  position: relative;
  z-index: 2;
}

.featured-post-card-content-container {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;

  display: grid;
  grid-row: 2 / 5;
  grid-template-rows: subgrid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 0.5rem;

  background-color: var(--light-green);
  border: solid black 0.25rem;

  font-size: var(--fs-label);
  line-height: var(--lh-label);
  font-weight: 200;
}

.featured-post-title {
  font-size: var(--fs-heading);
  line-height: var(--lh-heading);
  font-weight: 700;

  grid-column: 1 / span 3;
  grid-row: 1 / span 1;

}

.featured-post-excerpt {
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  font-weight: 400;

  grid-column: 1 / span 3;
  grid-row: 2 / span 1;

}

.featured-post-date {
  grid-column: 1 / span 1;
  grid-row: 3;
  text-align: left;
}

.featured-post-read-estimate {
  grid-column: 2 / span 1;
  grid-row: 3;
  text-align: center;
}

.featured-post-CTA {
  grid-column: 3;
  grid-row: 3;
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .featured-post-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1024px) {

  .featured-post-cards-container {
    grid-template-columns: repeat(3, 1fr);
  }


}