#featured-section-container {
  background-color: var(--cream);
}

.text-featured {
  font-family: Oswald;
  color: black;
}

#featured-posts-title {
  border-bottom: solid black 0.25rem;
}

#post-cards-container-featured {
  /* width: calc(100% - 1rem);
  padding: 0 0.5rem; */

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  /* gap: 2rem; */
}

.post-card-featured {
  width: 100%;

  display: inline-grid;
  grid-template-columns: auto;
  /* grid-template-rows: auto auto auto auto; */
  grid-auto-rows: auto;
  justify-self: center;

  position: relative;
}

.image-wrapper-post-card-featured {
  width: 100%;
  height: auto;

  box-sizing: border-box;

  grid-row: 1 / span 2;
  grid-column: 1;
}

.post-card-featured:hover .zoom-clipper {
  transform: translate(0.1875rem, -0.1875rem);
}

.image-wrapper-post-card-featured::after {
  background-color: var(--dark-green);
  border: solid var(--dark-green) 0.25rem;
}

.post-card-featured:hover .image-wrapper-post-card-featured::after {
  transform: translate(-0.375rem, 0.375rem);
}

.image-post-card-featured {
  position: relative;
  z-index: 2;

  transition: transform 0.3s ease-in-out; 
}

.post-card-featured:hover .image-post-card-featured {
  transform: scale(1.05);
}

.post-card-content-container-featured {
  width: calc(100% - 2rem);
  padding: 1rem;
  margin-top: 1rem;
  box-sizing: border-box;

  grid-row: 2 / span 2;
  grid-column: 1;
  align-self: end;
  justify-self: center;

  z-index: 3;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  row-gap: 0.5rem;
  align-items: center;

  background-color: var(--light-green);
  border: solid black 0.25rem;

  font-size: var(--fs-label);
  line-height: var(--lh-label);
  font-weight: 200;

  overflow: hidden;

  container-type: inline-size;
  container-name: featuredcontent;
}

.featured-post-title {
  font-size: var(--fs-heading);
  line-height: var(--lh-heading);
  font-weight: 700;

  grid-column: 1 / -1;
  grid-row: 1 / span 1;

}

.featured-post-excerpt {
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  font-weight: 400;

  grid-column: 1 / -1;
  grid-row: 2 / span 1;
}

.featured-meta-container {
  width: 100%;
  grid-row: 4;
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 1rem;
}

.featured-meta {
  display: flex;
  align-items: center;
}

.featured-post-date {
  display: none
}

@container featuredcontent (min-width: 275px) {
  .featured-post-date {
    display: flex;
    justify-content: flex-start;
    text-align: left;
  }
}

.featured-post-read-estimate {
  white-space: nowrap;

  justify-content: flex-start;
  text-align: left;
}

@container featuredcontent (min-width: 275px) {
  .featured-post-read-estimate {
    justify-content: center;
    text-align: center;
  }
}

.featured-post-cta-container {
  justify-content: flex-end;
}

.featured-post-CTA {
  white-space: nowrap;
  justify-content: center;
  text-align: center;

  background-color: var(--dark-green);
  border: solid var(--black) 0.25rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;

  font-weight: 500;
}

.post-card-featured:hover .featured-post-CTA{
  background-color: var(--orange);
}

@media only screen and (min-width: 350px) {
  .featured-meta-container {
    flex-direction: row;
  }
}

@media only screen and (min-width: 481px) {
  .post-card-content-container-featured { 
    margin-bottom: 2rem;
  }

}

@media only screen and (min-width: 768px) {
  #post-cards-container-featured {
    grid-template-columns: repeat(2, 1fr);
  }

  .post-card-featured {
    grid-template-rows: subgrid;
    grid-row: span 4;
  }

  .image-wrapper-post-card-featured {
    aspect-ratio: 1 / 1;
    grid-row: 1;
    grid-column: 1;
  }

  .post-card-content-container-featured {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;

    grid-row: 2 / 5;
    grid-column: 1;
    align-self: stretch;
    justify-self: stretch;

    grid-template-rows: subgrid;
  }
}

@media only screen and (min-width: 1024px) {

  #post-cards-container-featured {
    grid-template-columns: repeat(3, 1fr);
  }


}

.featured-content-container {
  opacity: 0;
}

.featured-fade-in {
  animation: fade-in 800ms ease-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}