.nav-container {
  position: fixed;
  top: 0;
  z-index: 98;

  width: calc(100%);
  max-width: 100svw;
  height: 75px;
  padding: 0 1.5rem;
  
  background: var(--light-green);
  font-family: Oswald;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  backdrop-filter: blur(10px);
  transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.nav-container-visible {
  transform: translateY(0);
}

.nav-container-hidden {
  transform: translateY(calc(-75px));
}

/* Logo Container */

.nav-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 2;

  text-decoration: none;
  text-decoration-line: none;

  height: 100%;
  background-color: var(--light-green);
  border-bottom: solid white 0.25rem;
  padding-left: 0.5rem;

  overflow-x: hidden;
}

.nav-logo-title {
  font-size: var(--fs-title);
  line-height: var(--lh-title);
  font-weight: 700;
  color: white;
  white-space: nowrap;
}

.nav-logo-title-period {
  z-index: 2;
  position: relative;
  display: inline-block;

  width: 0.4em;
  height: 0.4em;

  background: var(--neon-yellow);
  border: 2px solid white;
  border-radius: 50%;

  overflow: hidden;

  margin-right: 0.50ch;
  margin-left: 0.25ch;
}

.nav-logo-title-period::before, .nav-logo-title-period::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  
  background: transparent;
  border: 2px solid white;
}

.nav-logo-title-period::before {
  left: -65%;
}

.nav-logo-title-period::after {
  right: -65%;
}

.nav-logo-title-period:last-of-type {
  margin-right: 0;
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {

  .nav-container {
    height: 80px;
  }

  .nav-container-hidden {
    transform: translateY(calc(-80px));
  }

  .nav-logo-container {
    flex-grow: 0;
  }

  /* .nav-logo-title {
    font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
  } */

  .nav-logo-title-period {
    margin-right: 0.3ch;
  }

}

.slide-in-top-nav {
    -webkit-animation: slide-in-top 0.5s ease-out both;
            animation: slide-in-top 0.5s ease-out both;
}

@-webkit-keyframes slide-in-top-nav {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top-nav {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
