.mobile-menu-toggle-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  height: 100%;
  padding: 0 2rem;
  flex-grow: 1;

  background-color: var(--light-green);
}

.menu-icon {
  width: 30px;
  height: 30px;
  position: relative;
}

.menu-icon-line {
  background: white;
  width: 100%;
  height: 5px;
  border-radius: calc(5px / 2);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 0.5s, width 0.5s;
}

.closed #line-1 {
  transform: translate(-50%, -15px);
}

.closed #line-2 {
  transform: translate(-50%, -50%);
}

.closed #line-3 {
  transform: translate(-50%, 10px);
}

.open #line-1 {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.open #line-2 {
  transform: translate(-50%, -50%) rotate(45deg);
}

.open #line-3 {
  width: 0px;
}

@media only screen and (min-width: 1024px) {
  .mobile-menu-toggle-icons-container {
    display: none;
  }
}
