.post-cards-container {
  width: calc(100% - 0.5rem);
  padding: 0 0.25rem;

  display: flex;
  gap: 2rem;
}
 
.post-cards-column {
  background-clip: padding-box;
}

.post-cards-column > * {
  margin-bottom: 2rem;
}


@media only screen and (min-width: 375px) {

}

@media only screen and (min-width: 481px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {
  
}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1600px) {

}