.post-card-container {
  width: 100%;
  /* width: min(100%, 400px); */

  margin-bottom: 2rem;

  font-family: Oswald;
  color: white;

  position: relative;
  z-index: 1;
}

.post-card-content-container {
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;

  background-color: black;
  border: solid white 0.25rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat (4, 1fr);
  gap: 2rem;
}

.post-card-container::after {
  content: '';
  position: absolute;
  inset: 0;

  background-color: var(--neon-yellow);
  /* border: solid var(--white) 0.25rem; */

  transform: translate(-0.25rem, 0.25rem);
  transition: transform 0.25s ease;

  z-index: -1;
}

.post-card-container:hover::after {
  transform: translate(-0.375rem, 0.375rem);
}

.post-card-image-wrapper {
  width: 100%;
  box-sizing: border-box;

  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
}

.post-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-card-title {
  font-size: var(--fs-heading);
  line-height: var(--lh-heading);
  font-weight: 700;

  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
}

.post-card-excerpt {
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  font-weight: 400;

  grid-column: 1 / span 3;
  grid-row: 3 / span 1;
}

.post-card-date {
  grid-column: 1 / span 1;
  grid-row: 4;
  text-align: left;
}

.post-card-read-estimate {
  grid-column: 2 / span 1;
  grid-row: 4;
  text-align: center;
}

.post-card-CTA {
  grid-column: 3;
  grid-row: 4;
  text-align: right;
}


@media only screen and (min-width: 375px) {

}

@media only screen and (min-width: 481px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1600px) {

}