.post-cards-container {
  width: calc(100% - 0.5rem);
  padding: 0 0.25rem;

  display: flex;
  gap: 2rem;
}

.post-cards-column {
  background-clip: padding-box;
}

.post-cards-column > * {
  margin-bottom: 2rem;
}

.infinite-scroll-loader {

  width: 100%;
  /* min-height: 250px; */
  margin-top: 5vh;
  margin-bottom: 5vh;
  scale: 0.5;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.infinite-scroll-loader svg {
  display: block;
  width: 50%;
}


@media only screen and (min-width: 375px) {

}

@media only screen and (min-width: 481px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {
  
}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1600px) {

}