#page-container-about {
  min-height: calc(100vh - 75px - min(10vh, 250px));
  background-color: var(--light-green);
}

.subsection-container {
  width: 100%;
  /* max-width: 500px; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

#body-subsection-container-about {
  padding: 0.5rem;
  padding-bottom: 2rem;
  /* background-color: black; */
  border: solid white 0.25rem;
  background-color: var(--dark-green);
}

.text-about {
  width: min(60ch, 100%);

  font-family: Oswald;
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  font-weight: 400;
}

#about-hero-image-wrapper {
  width: calc(100% - 0.5rem);
  height: auto;
  max-height: 500px;
  aspect-ratio: 4 / 3;
  object-fit: cover;

  margin-bottom: 2rem;
}

#about-hero-image-wrapper, .social-container, #body-subsection-container-about  {
  max-width: 500px;
}


#about-hero-image-wrapper::after {
  background-color: var(--dark-green);
}

#about-hero-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: solid black 0.25rem;
  transition: transform 0.25s ease;
}

#about-hero-image-wrapper:hover img {
  transform: translate(0.1875rem, -0.1875rem);
}

.about-me-cta {
  padding-bottom: 2rem;
}

.social-container {
  display: flex;
  flex-direction: column;

  border: solid white 0.25rem;
  background-color: var(--dark-green);

  width: 100%;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.social-icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fab, .far {
  font-size: 2rem;
  width: min-content;
}

.link-about {
  color: white;
  text-decoration: none;
  text-decoration-line: none;
}

.link-about:hover {
  color: var(--neon-yellow);
}

.link-about:nth-of-type(2) {
  margin: 0 1rem;
}


/* BODY SECTion */


.about-bio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%
}

#about-title {
  font-size: var(--fs-title);
  line-height: var(--lh-title);
  font-weight: 700;
  border-bottom: solid white 0.25rem;
}

#about-subtitle {
  font-size: var(--fs-heading);
  line-height: var(--lh-heading);
  font-weight: 500;
  padding-bottom: 2rem;
}

.body-text {
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  font-weight: 400;
}

.bio-container {
  box-sizing: border-box;
}

.bio-container p {
  padding-bottom: 1rem;
}

.bio-container ul {
  list-style-position: inside;
  padding-top: 1rem;
}

.bio-container li {
  font-size: var(--fs-label);
  line-height: var(--lh-label);
}

.bio-container p, .bio-container li {
  padding-bottom: 0.75rem;
}

@media only screen and (min-width: 1024px) {

  #page-container-about {
    min-height: calc(100vh - 80px - min(10vh, 250px));
  }

  #content-container-about {
    flex-direction: row;
    align-items: flex-start;
  }

  .subsection-container {
    width: 50%;
  }

  #hero-subsection-container-about {
    padding-right: 1rem;
  }

  #body-subsection-container-about {
    padding-left: 1rem;
  }

  #about-title {
    padding-block: 0;
  }

} 
