.section-container-posts-by-category {
  background-color: var(--black);
}

.content-container-posts-by-category {
  background-color: var(--black);
}

.title-posts-by-category {
  color: white;
  border-bottom: solid white 0.25rem;
}

@media only screen and (min-width: 1024px) {

}